.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem;
}

.brand-image {
  width: 12rem;
  height: auto;
  transition: transform 0.3s ease;
}

.brand-image:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .brands {
    justify-content: space-between;
  }
  .brand-image {
    width: 16rem;
  }
}
